.imgproduts{
    width: 360px;
    height: 260px;
}
object{
    width:600px; 
    height:850px;
}
.imgcertificates{
    margin: 0 auto;
    vertical-align:middle;
    line-height: 2em;
    width: 100px;
    height: 100px;
    display: block;
    margin-bottom: 7px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    border-radius: 25%;
    border: 5px solid #ffffff;
    background-color: transparent;
}
#col-md-3 col-sm-6 a img{
    width: 200px;
    height: 70px;
}
#back-top
{
    position: fixed;
    bottom: 90px;
    right: 30px;
    z-index: 60;
}

#back-top a
{
    width: 46px;
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    text-transform: none;
    text-decoration: none;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    color: #626262;
}

#back-top
{
    width: 46px;
    height: 46px;
    display: block;
    margin-bottom: 7px;
    background: url('../img/up.arrow.png') no-repeat center center;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    border-radius: 50%;
    border: 3px solid #ffffff;
    background-color: transparent;
}
#vedaxlogo{
    height:60px;
    position: absolute; 
    top:11px;
    left:90px;
}
.localizacao{
    line-height: 22px;
    padding-right: 30px;
}
iframe{
    float: right;
    width:49%;
    height:160px;
}
.finalempresa
{
    font-size:28px;
    text-align: center;
    font-family: 'BellGothicStdBlack';
    font-weight:bold;
    line-height:100%;
    color:#007cd2;
}
.vedaxempresa{
    width: 49%;
    height: 400px;
}
.enderecocontato{
    font-size:12pt;
    color:white;
    text-decoration: none;
}
.message{
    float: right;
}
@media(max-width:768px) {
    hr{
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee; 
        height: 0;
        box-sizing: content-box;
        display: inline;
        -webkit-margin-before: 0.5em;
        -webkit-margin-after: 0.5em;
        -webkit-margin-start: auto;
        -webkit-margin-end: auto;
        border-top-style: inset;
        border-top-width: 1px;
    }
    iframe{
        float:left;
        width:100%;
    }
    .localizacao{
        float:left;
    }
    #vedaxlogo{
        height:43px;
        position: absolute; 
        top:7px;
        left:30px;
    }
    .vedaxempresa{
        width: 49%;
        height: 200px;
    }
    .imgproduts{
        width: 400px;
        height: 260px;
    }
    #produts .produts-item .produts-link .produts-hover{
        width: 100%;
        height: 100%;
    }
    .imgcertificates{
        margin: 0 auto;
        vertical-align:middle;
        line-height: 2em;
        width: 100px;
        height: 100px;
        display: block;
        margin-bottom: 7px;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;
        border-radius: 25%;
        border: 5px solid #ffffff;
        background-color: transparent;
    }
    .imgclients{
        width: 250px;
        height: 10%;
    }
    .img-circle{
        float: left; 
        width: 70px; 
        height: 70px; 
        border-radius: 50%;
    }

}
@media(min-width:768px) {
    .vedaxempresa{
        width: 49%;
        height: 350px;
    }
    iframe{
        float:left;
        width:100%;
    }
    .img-circle{
        float: left; 
        width: 120px; 
        height: 120px; 
        border-radius: 50%;
    }
    .imgclients{
        width: 100%;
        height: 10%;
    }
}
@media(min-width:992px) {
    iframe{
        float:left;
        width:80%;
        height: 200px;
    }
    .img-circle{
        float: left; 
        width: 140px; 
        height: 140px; 
        border-radius: 50%;
    }
    .imgclients{
        width: 100%;
        height: 10%;
    }
    .localizacao{
        float:left;
    }
}
@media(min-width:1100px) {
    iframe{
        float: right;
        width:49%;
        height:160px;
    }
    .img-circle{
        float: left; 
        width: 140px; 
        height: 140px; 
        border-radius: 50%;
    }
}
@media(min-width:1200px) {
    iframe{
        float: right;
        width:49%;
        height:160px;
    }
    .img-circle{
        float: left; 
        width: 140px; 
        height: 140px; 
        border-radius: 50%;
    }
}