section h2.emailsdepart{margin-left: 20px; line-height: 70px; font-size:30px;}
.section-email-contact{font-size:18px; color:white;}
img#iconLinguagem{ width:30px; height:30px;position: fixed; left: 90%; margin-top: 7px; z-index: 100;}
.imgproduts{width:360px;height:260px;}
.imgprodut{height:500px;width:auto;}
object{width:600px;height:850px;}
div.col-md-4.certificates{width:50%;}
.imgcertificates{margin:0 auto;vertical-align:middle;line-height:2em;width:100px;height:100px;display:block;margin-bottom:7px;-webkit-transition:1s;-moz-transition:1s;transition:1s;border-radius:25%;border:5px solid #ffffff;background-color:transparent;}
#col-md-3 col-sm-6 a img{width:200px;height:70px;}
.back-top{position:fixed;bottom:90px;right:30px;z-index:60;}
.back-top a{width:46px;display:block;text-align:center;font-size:12px;line-height:20px;text-transform:none;text-decoration:none;-webkit-transition:1s;-moz-transition:1s;transition:1s;color:#626262;}
.back-top{width:46px;height:46px;display:block;margin-bottom:7px;background:url('../img/up.arrow.png') no-repeat center center;-webkit-transition:1s;-moz-transition:1s;transition:1s;border-radius:50%;border:3px solid #ffffff;background-color:transparent;}
#vedaxlogo{height:60px;position:absolute;top:11px;left:90px;}
.localizacao{line-height:22px;padding-right:30px;}
iframe{float:right;width:40%;height:160px;}
#imgempresa{text-align:center;}
.hrlocalizacao{margin-top:160px;margin-bottom:20px;width:100%;border:0px;border-top:3px solid #eee}
.finalempresa{font-size:28px;text-align:center;font-family:'BellGothicStdBlack';font-weight:bold;line-height:100%;color:#007cd2;}
.vedaxempresa{width:49%;height:400px;text-align:center;}
.enderecocontato{font-size:12pt;color:white;text-decoration:none;}
.message{float:right;}
@media(max-width:768px){div.col-md-4.certificates{left:25%;}
.grid{padding: 0px 10px 100px 10px; }
section h2.emailsdepart{margin-left: 10px; line-height: 70px;font-size:30px;}
.hrlocalizacao{margin-top:20px;margin-bottom:20px;border:0px;width:100%;border-top:3px solid #eee}
.timeline>li .timeline-image{margin-left: -15px; width: 110px; height: 110px;}
iframe{float:left;width:100%; margin-bottom: 20px;}
.localizacao{float:left;}
#vedaxlogo{height:43px;position:absolute;top:7px;left:30px;}
.vedaxempresa{width:80%;height:220px;text-align:center;display:inline;padding-right:3px;padding-bottom:2px;}
#imgempresa{text-align:center;}
.imgproduts{width:400px;height:260px;}
#produts .produts-item .produts-link .produts-hover{width:100%;height:100%;}
.imgcertificates{margin:0 auto;vertical-align:middle;line-height:2em;width:100px;height:100px;display:block;margin-bottom:7px;-webkit-transition:1s;-moz-transition:1s;transition:1s;border-radius:25%;border:5px solid #ffffff;background-color:transparent;}
.imgclients{width:250px;height:10%;}
.img-circle{float:left;width:100px;height:100px;border-radius:50%;}
}
@media(min-width:768px){div.col-md-3.col-sm-6.clients{width:25%;}
div.col-md-4.certificates{left:25%;}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header,
.container>.navbar-collapse, .container>.navbar-header{margin-right:10px;margin-left:0; margin-top: -50px;}
#vedaxlogo{height: 60px; position: absolute; top: 11px; left: 0px;}
.vedaxempresa{width:40%;height:350px;}
.hrlocalizacao{margin-top:20px;margin-bottom:20px;border:0px;width:100%;border-top:3px solid #eee}
iframe{float:left;margin-bottom:20px;width:100%;height:200px;}
.img-circle{float:left;width:120px;height:120px;border-radius:50%;}
.imgclients{width:100%;height:10%;}
}
@media(min-width:992px){
div.col-md-4.certificates{left:0%;}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header,
.container>.navbar-collapse, .container>.navbar-header{margin-right:0;margin-left:0}
#vedaxlogo{height:60px;position:absolute;top:11px;left:90px;}
img#iconLinguagem{position: fixed; left: 96.5%;}
iframe{float:left;margin-bottom:20px;width:100%;height:200px;}
.img-circle{float:left;width:140px;height:140px;border-radius:50%;}
.imgclients{width:100%;height:10%;}
.localizacao{float:left;}
}
@media(min-width:1100px){.container-fluid>.navbar-collapse, .container-fluid>.navbar-header,
.container>.navbar-collapse, .container>.navbar-header{margin-right:0;margin-left:0}
img#iconLinguagem{position: fixed; left: 96.5%;}
iframe{float:left;margin-bottom:20px;width:100%;height:200px;}
.img-circle{float:left;width:140px;height:140px;border-radius:50%;}
}
@media(min-width:1200px){.container-fluid>.navbar-collapse, .container-fluid>.navbar-header,
.container>.navbar-collapse, .container>.navbar-header{margin-right:0;margin-left:0}
img#iconLinguagem{position: fixed; left: 96.5%;}
iframe{float:right;width:49%;height:160px;}
.img-circle{float:left;width:140px;height:140px;border-radius:50%;}
}