#imgcertificates{
    width: 100px;
    height: 100px;
}
#vedaxlogo{
    height:60px;
    position: absolute; 
    top:11px;
    left:90px;
}
@media(max-width:768px) {
    #vedaxlogo{
        height:43px;
        position: absolute; 
        top:7px;
        left:30px;

    }
}
#localizacao
{
    line-height: 22px;
    padding-right: 30px;
}
iframe{
    float: right;
    width:49%;
    height:30%;
}
.finalempresa
{
    font-size:28px;
    text-align: center;
    font-family: 'BellGothicStdBlack';
    font-weight:bold;
    line-height:100%;
    color:#007cd2;
}
#vedaxempresa1,
#vedaxempresa2{
    width: 49%;
}
.col-md-4 a img{
    height: 260px;
    width: 360px;
}
.enderecocontato{
    font-size:12pt;
    color:white;
    text-decoration: none;
}
.message{
    float: right;
}
