#vedaxlogo{
    height:60px;
    position: absolute; 
    top:11px;
    left:90px;
}
#localizacao
{
    float: left;
    line-height: 22px;
    padding-right: 30px;
}
iframe{
    float:right;
    width:45%;
    height:20%;
}
.finalempresa
{
    font-size:28px;
    text-align: center;
    font-family: 'BellGothicStdBlack';
    font-weight:bold;
    line-height:100%;
    color:#007cd2;
}
#vedaxempresa1,
#vedaxempresa2{
    width: 49%;
}
.col-md-4 a img{
    height: 260px;
    width: 360px;
}
.enderecocontato{
    font-size:12pt;
    color:white;
    text-decoration: none;
}
.message{
    float: left;
}
