@media (max-width: 768px) 
{
    iframe{
        width:420px ;
        height:200px ;
    }
    body
    {
        padding: 0 !important;
    }
    .container
    {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    #copyright-menu{
        float:left;
    }
    .wrapper
    {
        margin: 0;
    }

    .wrapper-inner
    {
        padding-top: 0px !important;
    }

    #push
    {
        display: none;
    }

    .mod-menu__social
    {
        margin-right: 80px;
    }

    #header-row
    {
        position: relative;
    }

    #header-row #logo
    {
        margin-bottom: 0px;	
    }

    #header-row .container
    {
        background: none;
        border-bottom: none;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);		
    }

    #header-row .moduletable.call-now div 
    {
        padding: 15px 45px 0 0;
    }	

    #header-row .mod-search
    {
        margin-left: 40px;
    }

    #header-row .moduletable.call-now
    {
        margin-bottom: 0px;	
    }

    #header-row .moduletable.social
    {
        margin: 10px 0px 0px 0px;	
    }

    #header-row .moduletable.navigation
    {
        width: 99.5%;
        margin: 0px auto;
        clear: both;
    }

    .moduletable.slider
    {
        overflow: hidden;
    }

    .slide_title
    {
        display: none !important;
    }	

    #camera-slideshow .camera_caption p
    {
        display: none !important;
    }

    .camera_caption a.readmore
    {
        right: inherit;
    }

    #header-row .select-menu 
    {
        min-width: 283px;
    }

    .mod-newsflash-adv__links .item__module
    {
        width: 48%;
        margin: 0 1% 20px;
        float: left;
    }

    .page-blog .items-row.cols-3 .item_img.img-intro 
    {
        width: 98.5%;
    }

    .page-blog .items-row .span6 .item
    {
        border-bottom: 1px solid #D4D4D4;
        margin-bottom: 30px;
        padding-bottom: 20px;
        overflow: hidden;
    }

    .page-blog .items-row.cols-2	
    {
        border-bottom: none;
        margin-bottom: 0px;
        padding-bottom: 0px;
        overflow: hidden;
    }	

    .page-category__clients .item
    {
        overflow: hidden;
        margin-bottom: 20px;
    }

    .page-category__clients .item_img
    {
        float: left;
        margin-right: 20px;
        clear: none !important;
    }

    .page-featured .items-row .item__featured
    {
        margin-bottom: 30px !important;
    }

    a.btn, a.readmore, 
    .btn_info, 
    .btn-info, 
    .btn-group button.btn, 
    .mod-newsflash a.readmore, 
    .btn-primary, 
    .btn_primary, 
    .contentpane .button
    {
        text-wrap:none;
    }

    .item-image.blog-image
    {
        float: none;
        margin: 0 0 20px 0;
    }

    .img-full__left.span5
    {
        width: 50%;
    }

    .row-fluid [class*="itemSpan"] 
    {
        display: block;
        float: none;
        margin-left: 0;
        width: auto;
    }

    .span9 .row-fluid [class*="span"] .img-intro__none,
    .span9 .row-fluid [class*="span"] .img-full__none,
    .span6 .row-fluid [class*="span"] .img-intro__none,
    .span6 .row-fluid [class*="span"] .img-full__none
    {
        width: 98.5%;	
    }	

    .page-item
    {
        padding-bottom: 0px;
    }

    .page-gallery .item_img.img-intro
    {
        float: left;
        margin: 0 20px 20px 0;
    }

    .contact_form
    {
        width: 50%;
    }

    .contact_details
    {
        margin-bottom: 20px;
    }

    .contact_details .span6
    {
        width: 50%;
        float: left;
    }

    .mod-search__aside .mod-search_searchword
    {
        width: 50%;
    }

    .mod-login__aside .mod-login_username,
    .mod-login__aside .mod-login_passwd
    {
        width: 50%;
    }

    aside
    {
        margin-top: 0px;
    }

    aside .mod-search button.btn.btn-search 
    {
        margin-top: 0px;
    }

    #footer
    {
        height: auto;
    }

    #footer p
    {
        margin-bottom: 0;
    }

    .mod-footer
    {
        position: relative;
        top: -48px;
    }

    .footer-row-1 .span3 .item_img,
    .footer-row-1 .span4 .item_img,
    .footer-row-1 .span3 img,
    .footer-row-1 .span4 img	
    {
        width: auto;	
    }	

    #isotopeContainer .item_introtext
    {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    #logo
    {
        width: 175px;
        height: 100px;
    }
    table tr td 
    {
        display:table;
        overflow:scroll;
    }
    .titles h1{
        text-align:justify; 
    }
}