@media (max-width: 1280px) 
{
    iframe{
        width:600px; 
        height:450px;
    }
    h1,
    h2
    {
        font-size: 30px;
    }

    #header-row .mod-search_searchword
    {
        width: 230px;
    }

    .moduletable.social ul li.separator 
    {
        display: block;
    }

    .slide_title
    {
        font-size: 100px;
    }

    #camera-slideshow	
    {
        min-height: inherit;
    }

    .camera_caption a.readmore
    {
        right: 60px;
    }

    .mod-newsflash-adv__links .item_content ul li a
    {
        font-size: 12px;
    }

    #footer-row .moduletable.social li a 
    {
        font-size: 22px;
        height: 45px;
        width: 45px;
    }	

    #isotopeContainer .item_introtext
    {
        display: none;
    }
    #logo
    {
        width: 30%;
        height: 100px;
    }
    #imgempresa img{
        width:49%;
    }
    .span12
    {
        width: auto;
    }
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container
    {
        width: 89%;
    }
}