.two-third{
    display: block;
    float: left;
    width: 630px;
    margin: 0 10px 10px 10px;
}
.one-third.last_col {
    margin: 0 0px 10px 10px;
}
.one-third{
    display: block;
    float: right;
    width: 300px;
    margin: 0 10px 10px 10px;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
}
h2{
    max-width:100%;
    margin: 0px 0px 16px 10px;
    clear:both;
    font-family: 'Oswald', arial, serif; 
    color: grey;
    padding-bottom: 10px;
    margin-bottom: 16px;
    background: url(../images/h1_bg.png) repeat-x 0 bottom;
    vertical-align:baseline;
}
ul li{
    color: black;
    padding-left: 10px;
    margin-bottom: 10px;
}
li{display: list-item;
   text-align: -webkit-match-parent;}
.one-half{
    display: block;
    float: left;
    width: 100%;
    margin: 0 10px 10px 10px;
}
p{
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
}